body{
    width: 100%;
    height: 100vh;
    background-image: url(mv1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur();
    -webkit-filter: blur();
    color: #faebd7;
    margin: 0;
    padding:2em;


}
h1,p{
    margin: 1em auto;
    text-align: center;

}
fieldset{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;;

}
label{
    display: block;
    margin:0.5rem 0
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border-style:inset;
  border-radius: 10px;
}