body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100%;
    height:auto;
    color: aliceblue;
    background-color: black;
}
h1,p{
    text-align: center;
}
label{
    display: block;
    margin: 1rem 0 0 0;
}

form{
    max-width: 500px;
    min-width: 300px;
    margin:0 auto;
    
}
.inline{
   width: auto; 
   margin: 0 0.5em 0 0;
   vertical-align: middle;
}
input,textarea,select{
    width: 100%;
    max-width: 500px;
    margin: 0.5em 0;
    padding:0.3em 0;

}

input[type="submit"]{
    width: 50%;
    margin:1rem 7rem;

}
fieldset{
    border:none;
    margin: 0.5rem 0;
    padding-left: auto;
    padding-right: auto;
    border-bottom:0.1rem solid white;
    
}
legend{
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

div{
    width: 100%;
    background-color: red;
    height: 5vh;
}